@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
    --font-merriweather: "Merriweather", serif;
    --font-inter: "Inter", sans-serif;
}

@layer utilities {
    /* styles.module.css */
    .custom-scrollbar::-webkit-scrollbar {
        width: 10px !important;  /* Width of vertical scrollbar */
        padding-right: 2px !important;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;  /* Scrollbar track */
        border-radius: 6px !important;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgb(207, 207, 207) !important;  /* Scrollbar handle */
        border-radius: 6px !important;
    }

    /* Hover effects */
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgb(110, 110, 110) !important;
    }
}

/* app/globals.css */

@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/TelegrafRegular_272984.woff2') format('woff2'),
         url('/fonts/TelegrafRegular_272984.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf UltraLight 200.woff2') format('woff2'),
         url('/fonts/Telegraf UltraLight 200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
  
@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf UltraBold 800.woff2') format('woff2'),
         url('/fonts/Telegraf UltraBold 800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

